@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

h2{
  font-weight: normal;
  font-family: "Indie Flower";
  color: #70EBFF;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 8px;
}

#para1{
  font-weight: 100;
  font-family: "Raleway", serif;
}

#para2{
  font-weight: 300;
  font-family: "Raleway",sans-serif;
}

#para3{
  font-weight: 700;
  font-family: "Raleway",monospace;
}

#para4{
  font-weight: 900;
  font-family: "Raleway",cursive;
}

h3{
  font-weight: normal;
  font-family: "Indie Flower";
  color: #FF0000;
}
